.guestsContainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}
.column {
    width: 100%;
    margin: 1.5rem 0;
}

.row {
    margin-bottom: 0;
}
.evicted {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }