/* img {
    width: 100%;
} */

/* fized jaggyness for the pictures, and got the gap to look right */
.guestsContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.col-sm-3 {
    margin: 0;
    width: 100%;
}